@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --main-blue: #0d4f93;
  --main-light-black: #363848;
  --main-red: #e02826;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-blue);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.main_title {
  position: relative;
  text-align: center;
  font-size: 50px;
  border-bottom: 5px solid var(--main-red);
  width: fit-content;
  padding: 10px;
  margin-inline: auto;
  margin-bottom: 50px;
  white-space: nowrap;
}

.main_title::before,
.main_title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-blue);
  border-radius: 50%;
  bottom: -10px;
}

.main_title::before {
  left: 0px;
}

.main_title::after {
  right: 0px;
}

.second_title {
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--main-light-black);
}

/* Start Header */
header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15),
    0px 5px 17px -2px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 999;
  top: 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .links_small {
  padding: 30px;
  display: none;
  justify-content: center;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

header .container .links_small.active {
  visibility: visible;
  opacity: 1;
}

header .container .links_small i.fa-xmark {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: var(--main-light-black);
  cursor: pointer;
}

header .container .links_small ul {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

header .container .links_small ul li a {
  font-size: 25px !important;
}

header .container .links_small ul li.drop_down {
  text-align: center;
  overflow: hidden;
}

header .container .links_small ul li.drop_down ul {
  height: 0px;
  gap: 20px;
  transition: height 0.5s, margin-top 0.5s;
  background-color: white;
}

header .container .links_small ul li.drop_down ul.active {
  padding: 5px;
  border: 3px solid var(--main-blue);
  margin-top: 50px;
  height: 365px;
}

header .container .links_small ul li.drop_down ul li:not(:last-of-type) {
  margin-bottom: 30px;
}

header .container .links ul {
  display: flex;
  gap: 30px;
}

header .container .links ul li a,
header .container .links_small ul li a {
  position: relative;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 3px;
  transition: width 0.3s, font-weight 0.3s;
}

header .container .links ul li a:hover,
header .container .links_small ul li a:hover {
  color: var(--main-blue);
}

header .container .links ul li a::after,
header .container .links_small ul li a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-blue);
  transition: width 0.3s;
}

header .container .links ul li a:hover::after,
header .container .links_small ul li a:hover::after {
  width: 100%;
}

header .container .links ul li a.active,
header .container .links_small ul li a.active {
  font-weight: 700;
  color: var(--main-blue);
  border-bottom: 2px solid var(--main-blue);
}

header .container .links ul li a.active::after,
header .container .links_small ul li a.active::after {
  display: none;
}

header .container .links ul li.drop_down,
header .container .links_small ul li.drop_down {
  position: relative;
}

header .container .links ul li.drop_down a.icon-flip i,
header .container .links_small ul li.drop_down a.icon-flip i {
  margin-left: 3px;
  transition: transform 0.3s;
}

header .container .links ul li a.icon-flip:hover i,
header .container .links_small ul li.drop_down a.icon-flip:hover i {
  transform: rotate(180deg);
}

header .container .links ul li ul {
  position: absolute;
  flex-direction: column;
  width: 220px;
  left: 0;
  top: 30px;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 1px 10px 0px #00000057;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  background-color: white;
}

header .container .links ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

header .container .links ul li.drop_down ul li {
  position: relative;
}

header .container .links ul li ul li:not(:last-of-type)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: -10px;
  left: 0;
}

header .container .langs a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header .container .langs a:first-of-type {
  color: var(--main-red);
  font-size: 18px;
  font-weight: 700;
}

header .container .langs a:last-of-type {
  width: 100px;
  height: 40px;
  border: 2px solid var(--main-blue);
  margin-left: 30px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--main-blue);
  position: relative;
  transition: color 0.3s;
}

header .container .langs a:last-of-type:hover {
  color: white;
}

header .container .langs a:last-of-type::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--main-blue);
  left: 0;
  bottom: 0;
  transition: width 0.3s;
  z-index: -1;
}

header .container .langs a:last-of-type:hover::before {
  width: 100%;
}

header .container .langs i {
  display: none;
  font-size: 30px;
  cursor: pointer;
  transform: translateY(5px);
  color: var(--main-light-black);
}

@media (max-width: 1199px) {
  header .container .logo img {
    width: 100px;
  }

  header .container .links ul {
    gap: 15px;
  }
}

@media (max-width: 991px) {
  header .container .links {
    display: none;
  }

  header .container .links_small {
    display: flex;
  }

  header .container .langs a:last-of-type {
    margin-right: 30px;
  }

  header .container .langs i {
    display: inline-block;
  }
}

@media (min-width: 430px) {
  header .container .links_small ul li.drop_down ul.active {
    height: 280px;
  }
}

@media (max-width: 410px) {
  header .container .langs a:last-of-type {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* End Header */

/* Start Slider */

/* .slider {
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 86px;
}

.slider .content {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider .content div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #e02826;
  text-align: center;
}

.slider .visual {
  height: 100%;
  position: absolute;
  left: 35%;
  top: 0;
  width: 65%;
}

.slider .visual video {
  width: 100%;
  height: 500px;
} */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 86px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 500px;
}

.mySlides video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides .text {
  color: var(--main-blue);
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-shadow: -2px 1px 0 #03a9f4;
  text-align: center;
}

.mySlides .dec {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .slideshow-container {
    margin-top: 68px;
  }
}

@media (max-width: 991px) {
  .mySlides .dec {
    bottom: 25%;
  }
}
/* End Slider */

/* Start About */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .container p {
  font-size: 18px;
  line-height: 25px;
  color: var(--main-light-black);
}

.about .container .status {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 30px;
}

.about .container .status .card {
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 20px 1px;
}

.about .container .status .card img {
  height: 70px;
}

.about .container .status .card span {
  font-size: 35px;
  font-weight: bold;
}

.about .container .status .card h3 {
  margin-top: 10px;
  color: var(--main-blue);
}

.about .container .status ~ p:not(:last-of-type) {
  margin-bottom: 30px;
}
/* End About */

/* Start Brands */
.brands {
  padding-top: 50px;
  padding-bottom: 50px;
}

.brands .container p {
  font-size: 18px;
  line-height: 25px;
  color: var(--main-light-black);
}

.brands .container p:not(:last-of-type) {
  margin-bottom: 30px;
}

.brands .container .brands_cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  perspective: 10000px;
}

.brands .container .brands_cards .card {
  width: calc((100% - 20px) / 2);
  position: relative;
  min-height: 300px;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0px -1px 12px #00000038;
  border-radius: 6px;
  cursor: pointer;
}

.brands .container .brands_cards .card:hover {
  transform: rotateY(180deg);
}

.brands .container .brands_cards .card .front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands .container .brands_cards .card .front img {
  width: 100%;
}

.brands .container .brands_cards .card .front ,
.brands .container .brands_cards .card .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.brands .container .brands_cards .card .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.brands .container .brands_cards .card .back h3 {
  color: var(--main-blue);
  font-size: 30px;
  margin-bottom: 10px;
}

.brands .container .brands_cards .card .back p a {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--main-red);
}

.brands .container .brands_cards .card .back .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  color: var(--main-light-black);
}

.brands .container .brands_cards .card .back .info span i {
  margin-right: 10px;
  color: var(--main-red);

} 
/* End Brands */
